/.idea
/vendor
/infection.log
/build/*
!/build/.gitkeep
/.php_cs.cache
/infection-cache
/.ci/keys.asc
/infection.json
/*.phar
/build/bin/infection.phar
/build/bin/infection.phar.pubkey
.phpunit.result.cache