/.idea
/.composer/
/vendor
/infection.log
/build/*
!/build/.gitkeep
!/build/cache/.gitkeep
/.tools/
!/.tools/.gitkeep
/.php_cs.cache
/infection-cache
/.ci/keys.asc
/infection.json
/*.phar
/build/bin/infection.phar
/build/bin/infection.phar.pubkey
.phpunit.result.cache
/devTools/Docker*.json
