!/.tools/.gitkeep
!/build/.gitkeep
!/build/cache/.gitkeep
.phpunit.result.cache
/*.phar
/.ci/keys.asc
/.composer/
/.idea
/.php_cs.cache
/.tools/
/build/
/devTools/Docker*.json
/infection-cache
/infection.json
/infection.log
/phpunit.xml
/tests/Fixtures/e2e/*/coverage/
/tests/Fixtures/e2e/*/infection/
/tests/Fixtures/e2e/Configure/infection.json.dist
/tests/Fixtures/e2e/SymfonyFlex/bin/.phpunit/
/vendor/
