<?php

$year = date('Y');
$header = <<<TXT
Copyright © 2017-$year Maks Rafalko

License: https://opensource.org/licenses/BSD-3-Clause New BSD License
TXT;
$finder = \PhpCsFixer\Finder::create()
   ->in('src')
   ->in('tests')
   ->exclude('Fixtures')
   ->in('app')
;

return \PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@Symfony' => true,
        '@PHP70Migration' => true,

        'concat_space' => ['spacing' => 'one'],
        'header_comment' => [
            'commentType' => 'PHPDoc',
            'header' => $header,
            'location' => 'after_open',
            'separate' => 'bottom',
        ],
        'is_null' => true,
        'ordered_imports' => true,
        'phpdoc_align' => false,
        'phpdoc_summary' => false,
        'yoda_style' => false,
        'ordered_class_elements' => [
            'use_trait',
            'constant_public',
            'property_public',
        ],
        'no_useless_else'=> true,
    ])
    ->setFinder($finder)
;
