language: php

sudo: false

env:
  global:
    - INFECTION_FLAGS='--threads=4 --min-msi=62 --min-covered-msi=73 --coverage=coverage --log-verbosity=none'
    - PHPUNIT_BIN='vendor/bin/phpunit --coverage-clover=clover.xml --coverage-xml=coverage/coverage-xml --log-junit=coverage/phpunit.junit.xml'
    - secure: Wsy2cIgrnk4QGNXRlClN3j6WIYvaT55YkRhVnt8DhAfOGEypNl2a0fAB7o3hrSipCLDfMuyXV4Jldm7EfQOwCyOsF6zpBnzKDCySCX/H7fBT5HUNPx3Er5j2CSgSqJQNNP3fJuxe6FDlkKJfR5wH7VRbKwRICpNB/WvEAw28RYfqAqdgMRcMFFuUuKsqDwof9Ho6MBySxhP/BItv/v/+JyYLGn4VUtoGFs6HyKa7gZx/v2vMhnSpkA/ekLLkKoCKJSPzDRZGm1u1fDNX36ady4i9+23hnHRx5mjtFIgc3LtkEAyR5RhwEOI1ETEYinB9FX/CZmwGpCsnHrL5nZU85iILHyLzsrP8K0gfsefCshFLkm7Py2nBwtdYzMJSJy+eJ04HsWU9WkfCYs3hSGl8qzpEbboI3SV8drK9oXekbxEpJPEg/YcG3My16243Aevg3bsclp9JOFbGqagJvptJMydNjq70dqGDDbI5A5jAwAPK2nrUIgucuL5hnE5OcOD6g37duUHGzvwrU9ZBZQpeTxlxjFxBa6zLx/5qBDVQF3tmbfyDOMglgBhfN7+Ipi44p72K1DfWn4AdsQ8KtcIzXbnBC+tDpr8jjeaZ1BoFFNdM2jQfOuGlPnfnlm0vdk7V32W1uorQNiqfikYYOPh0MfuxEU2P9uBvWSMRPXALBx4=
    - secure: RJJkBxuV6Obkyrraj4ImoK1lIhpZ6US/Pp96r7LO93FyDgANBzXkyPcOFPD0NrTMKKTp63M5SznUK5LOyi8ULVvLwJ/XqvNHz1f9lRQoc13Bs3MtXFvVrrrAPM8Lwa3YdvlR29WsYxTLB6eiFaYwwuCHW4OWmfQ+AOCielB8CA5XOeEX75E2geVYZ25qeEKKFlRKhm4N1h5DeuvGrQ2VG4sIX/bk0meE9z5kY/XtJCO6YfN+gj8T3yCzT4rb7xjaqdFfR+Iq8joxb9+5giIWjT7xkPS60ELQppIYSn/jW7puRPP2WrvbgiT6Tbzb4VBddew5VYe8/JkOBFi0gZpa6PR/LxH1+0hab+X1SUjzqy0BhPY6PEHadYcIp0kqjD2fLEHoNg7jjvTuk79RvRpcuvECj30nZfZHbMkixc539rkVn7BTt53488z6IQ+PCFFcH0CsPByXGSBJLgYca0jD/9h/uM4IZdXsC8yAd/MEIRCH+AwLxgPrb432CeoWdjz5V53VIMSXVqTp6fidpDGIeQR8bzA953ciZ2WxyMkNudKV1n4DcIOHCklZKPuCetQk5CAti9qJqGq2QDYlJYYvRLE7HCmDdeHt/kwaXYKDWx/BqRcHQ3Dnz02tA6hkj1aBN6NPrXSyeZOIf1uOdW6fhTlJvpiPTX6RiA26ftKHEck=
cache:
  directories:
    - $HOME/.composer/cache
    - build/cache

addons:
  apt:
    packages:
    - expect

before_install:
  - source .ci/xdebug.sh
  - xdebug-disable

jobs:
  include:
    - stage: Static Code Analysis
      php: 7.2
      install:
        - composer install
      script:
        - make analyze --keep-going

    - &STANDARD_TEST_JOB
      stage: Test
      php: 7.1
      install:
        - composer install
        - |
          if [ "${SYMFONY_VERSION}" != "" ]; then
            composer config --unset platform
            composer require \
            symfony/console:${SYMFONY_VERSION} \
            symfony/filesystem:${SYMFONY_VERSION} \
            symfony/process:${SYMFONY_VERSION} \
            symfony/finder:${SYMFONY_VERSION} \
            symfony/yaml:${SYMFONY_VERSION}
          fi
      script:
        - if [[ $PHPDBG != 1 ]]; then xdebug-enable; fi
        - if [[ $PHPDBG != 1 ]]; then $PHPUNIT_BIN; else phpdbg -qrr $PHPUNIT_BIN; fi
        - |
          if [[ "${SYMFONY_VERSION}" != "" ]]; then
            ./tests/e2e_tests bin/infection;
          else
            make build/bin/infection.phar;
            ./tests/e2e_tests build/bin/infection.phar;
          fi
        - if [[ $NO_DEBUGGER == 1 ]]; then xdebug-disable; fi
        - |
          if [[ $PHPDBG != 1 ]]; then
            bin/infection $INFECTION_FLAGS;
          else
            phpdbg -qrr bin/infection $INFECTION_FLAGS;
          fi

      after_success:
        - bash <(curl -s https://codecov.io/bash)

    -
      <<: *STANDARD_TEST_JOB
      php: 7.1
      env: NO_DEBUGGER=1

    -
      <<: *STANDARD_TEST_JOB
      php: 7.1
      env: PHPDBG=1

    -
      <<: *STANDARD_TEST_JOB
      php: 7.1
      env: SYMFONY_VERSION="^4.0"

    -
      <<: *STANDARD_TEST_JOB
      php: 7.1
      env: SYMFONY_VERSION="^4.0" PHPDBG=1

    -
      <<: *STANDARD_TEST_JOB
      php: 7.2

    -
      <<: *STANDARD_TEST_JOB
      php: 7.2
      env: NO_DEBUGGER=1

    -
      <<: *STANDARD_TEST_JOB
      php: 7.2
      env: PHPDBG=1

    -
      <<: *STANDARD_TEST_JOB
      php: 7.1
      env: SYMFONY_VERSION="^4.0"

    -
      <<: *STANDARD_TEST_JOB
      php: 7.2
      env: SYMFONY_VERSION="^4.0" PHPDBG=1

    -
      <<: *STANDARD_TEST_JOB
      php: nightly
      env: PHPDBG=1

      script:
        # We don't have xdebug on the nightly build, so we always run with phpdbg.
        - make build/bin/infection.phar;
        - ./tests/e2e_tests build/bin/infection.phar;
        - phpdbg -qrr $PHPUNIT_BIN
        - phpdbg -qrr bin/infection $INFECTION_FLAGS

    - stage: Deploy
      php: 7.2
      install:
        - composer install
      script:
        make build/bin/infection.phar;
      before_deploy:
        - echo $DECRYPT_KEY | gpg --passphrase-fd 0 .ci/keys.asc.gpg
        - gpg --batch --yes --import .ci/keys.asc
        - echo $SIGN_KEY | gpg --passphrase-fd 0 -u C5095986493B4AA0 --armor --detach-sig build/bin/infection.phar

      deploy:
        provider: releases
        api_key:
          secure: JtdvJBE2ARf6VWN5KlXAburz3FZMriiXBHEdeIocHePBAzgYW7tVMksJR5N3azrE3KjhftMEukXtA1k5VfAGdLCSm6nKGsZwolkd24ryG7PYNuAdFWfbau8QQXn6aLFesF2lkTq89+PqxAdVjwXNgFA7ble3vL66Ogabff6gov6QwT9vDrTqwLmWNGwbt9QB32IE9yVPjW/3lk4MAkMHtKDr2DElyeT2CRRuPuUCA+zNwoGG95wqLAD/RwjsqR3GjotzDKrldqog9jU2OQptUc3BgdKlYR1AzdknxJYnT7a5CRVdmSOEfD9IrDqlYEzn9pHav+Sk4KD2KNKsALQGk/w16BqncN2uyOexUTzXvnDd27G4ZYy+1OsXMdYMhF5ffwj7EqNLm8XfLPtHHV0/FUJY9kkrbf9+wQVjDQmMJLLIiBSt3vuY0ya5SVW8thtjlF2j67smamNe4hDhditBipto+9Y5vI4AYhcm4CQlqP8BVbw3/LgGAl/dJR5ohM7PFZH3EUE1AojBaEXfUymlICdFVZFJbB0D/AM8jSqNmWBQu9QX3MURhT5xLSwc+kir2izQaEo/GQz79AifqkUJgSCzpRUJntCN8A7yk1uxDZDONbINF3ReuF+nqu7GMksgKZLCGbOIaBl9of24K5BeTqxgcEykiHFFY7X9QdI3Dyo=
        file:
          - build/bin/infection.phar
          - build/bin/infection.phar.asc
        skip_cleanup: true
        on:
          tags: true
          repo: infection/infection

  allow_failures:
    - php: nightly
      env: PHPDBG=1
