language: php

sudo: false

php:
  - 7.0
  - 7.1
  - 7.2

matrix:
  include:
    - php: 7.0
      env: INFECTION=1
    - php: 7.1
      env: INFECTION=1
    - php: 7.2
      env: INFECTION=1

env:
  matrix:
    - DEPS=lowest
    - DEPS=highest

cache:
  directories:
  - $HOME/.composer/cache

before_install:
  - composer selfupdate

install:
  - if [ "$DEPS" = "lowest" ]; then composer update -n --prefer-source --prefer-lowest; fi;
  - if [ "$DEPS" = "highest" ]; then composer update -n --prefer-source; fi;
  - composer show

script:
  - composer analyze
  - vendor/bin/phpunit --coverage-clover=clover.xml
  - if [[ $INFECTION == 1 ]]; then bin/infection --threads=4 --min-msi=61 --min-covered-msi=89; fi

after_success:
  - bash <(curl -s https://codecov.io/bash)
