language: php

sudo: false

matrix:
  include:
    - php: 7.0
    - php: 7.0
      env: NO_DEBUGGER = 1
    - php: 7.0
      env: PHPDBG=1
    - php: 7.1
    - php: 7.1
      env: NO_DEBUGGER = 1
    - php: 7.1
      env: PHPDBG=1
    - php: 7.1
      env: SYMFONY_VERSION="^4.0"
    - php: 7.1
      env: SYMFONY_VERSION="^4.0" PHPDBG=1
    - php: 7.2
    - php: 7.2
      env: NO_DEBUGGER = 1
    - php: 7.2
      env: PHPDBG=1
    - php: 7.2
      env: SYMFONY_VERSION="^4.0"
    - php: 7.2
      env: SYMFONY_VERSION="^4.0" PHPDBG=1

env:
  global:
    - INFECTION_FLAGS='--threads=4 --min-msi=61 --min-covered-msi=89 --coverage=coverage'
    - PHPUNIT_BIN='vendor/bin/phpunit --coverage-clover=clover.xml --coverage-xml=coverage/coverage-xml --log-junit=coverage/phpunit.junit.xml'

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - composer selfupdate
  - source .travis/xdebug.sh
  - xdebug-disable

install:
  - composer install
  - |
   if [ "${SYMFONY_VERSION}" != "" ]; then
      composer config --unset platform.php
      composer require \
        symfony/console:${SYMFONY_VERSION} \
        symfony/process:${SYMFONY_VERSION} \
        symfony/finder:${SYMFONY_VERSION} \
        symfony/yaml:${SYMFONY_VERSION}
   fi

script:
  - composer analyze
  - if [[ $PHPDBG != 1 ]]; then xdebug-enable; fi
  - if [[ $PHPDBG != 1 ]]; then $PHPUNIT_BIN; else phpdbg -qrr $PHPUNIT_BIN; fi
  - ./tests/e2e_tests
  - if [[ $NO_DEBUGGER = 1 ]]; then xdebug-disable; fi
  - if [[ $PHPDBG != 1 ]]; then
      bin/infection $INFECTION_FLAGS;
    else
      phpdbg -qrr bin/infection $INFECTION_FLAGS;
    fi

after_success:
  - bash <(curl -s https://codecov.io/bash)
