{
    "output": "build/bin/infection.phar",

    "git-version": "package_version",

    "compression": "GZ",
    "compactors": [
        "Herrera\\Box\\Compactor\\Json",
        "Herrera\\Box\\Compactor\\Php",
        "KevinGH\\Box\\Compactor\\PhpScoper"
    ],
    "files": ["resources/schema.json"]
}
