{
    "output": "build/bin/infection.phar",
    "chmod": "0755",

    "algorithm": "OPENSSL",
    "key": ".travis/infection-private.pem",

    "git-version": "package_version",

    "compression": "GZ",
    "compactors": [
        "Herrera\\Box\\Compactor\\Json",
        "Herrera\\Box\\Compactor\\Php",
        "KevinGH\\Box\\Compactor\\PhpScoper"
    ]
}