{
    "timeout": 25,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection-log.txt",
        "badge": {
            "branch": "master"
        }
    }
}
