{
    "timeout": 25,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log",
        "badge": {
            "branch": "master"
        },
        "checkstyle": "php://stdout"
    },
    "mutators": {
        "@default": true,
        "MethodCallRemoval": {
            "ignore": [
                "Infection\\Finder\\SourceFilesFinder::__construct::63"
            ]
        }
    }
}
