parameters:
    excludes_analyse:
        - %currentWorkingDirectory%/tests/Fixtures/*

    ignoreErrors:
        - '#Access to an undefined property PhpParser\\Node(.*?)#'
        - '#Call to an undefined method PhpParser\\Node(.*?)#'