parameters:
    ignoreErrors:
        - '#Access to an undefined property PhpParser\\Node(.*?)#'
        - '#Call to an undefined method PhpParser\\Node(.*?)#'
        - '#Call to an undefined method Mockery\\MockInterface(.*?)#'