<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./vendor/autoload.php"
         colors="true"
         executionOrder="defects,random"
         failOnWarning="true"
         failOnDeprecation="true"
         failOnRisky="true"
         requireCoverageMetadata="true"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnPhpunitDeprecations="true"
         displayDetailsOnSkippedTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         cacheDirectory="./var/cache/phpunit"
>

    <php>
        <env name="COLUMNS" value="100" force="true" />
    </php>

    <extensions>
        <bootstrap class="Webmozarts\StrictPHPUnit\StrictPHPUnitExtension"/>
    </extensions>

    <testsuites>
        <testsuite name="Infection Test Suite">
            <directory>tests/phpunit</directory>

            <exclude>tests/phpunit/AutoReview</exclude>
            <exclude>tests/phpunit/Fixtures</exclude>
        </testsuite>
    </testsuites>

    <source ignoreIndirectDeprecations="true">
        <include>
            <directory>src</directory>
        </include>
    </source>

    <groups>
        <exclude>
            <group>benchmark</group>
            <group>e2e</group>
        </exclude>
    </groups>

</phpunit>
