<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./vendor/autoload.php"
         colors="true"
         executionOrder="random"
         failOnWarning="true"
         failOnRisky="true"
         verbose="true"
>

    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[direct]=0" />
    </php>

    <testsuites>
        <testsuite name="Infection Test Suite">
            <directory>tests/phpunit</directory>

            <exclude>tests/phpunit/AutoReview</exclude>
            <exclude>tests/phpunit/Fixtures</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
        <listener class="Symfony\Bridge\PhpUnit\CoverageListener" />
    </listeners>

</phpunit>
