parameters:
	ignoreErrors:
		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:isInstanceOf\\(\\) with ReflectionClass\\<mixed\\> and 'ReflectionClass' will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/AutoReview/EnvVariableManipulation/EnvTestCasesProvider.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:isInstanceOf\\(\\) with ReflectionClass\\<Infection\\\\Tests\\\\Console\\\\E2ETest\\> and 'ReflectionClass' will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/AutoReview/IntegrationGroup/IntegrationGroupProvider.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:isInstanceOf\\(\\) with ReflectionClass\\<mixed\\> and 'ReflectionClass' will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/AutoReview/IntegrationGroup/IntegrationGroupProvider.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertTrue\\(\\) with true will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/AutoReview/Makefile/MakefileTest.php

		-
			message: "#^Only booleans are allowed in \\|\\|, int given on the right side\\.$#"
			count: 1
			path: ../tests/phpunit/AutoReview/Makefile/Parser.php

		-
			message: "#^Short ternary operator is not allowed\\. Use null coalesce operator if applicable or consider using long ternary\\.$#"
			count: 1
			path: ../tests/phpunit/AutoReview/Mutator/MutatorTest.php

		-
			message: "#^Anonymous function should have native return typehint \"string\"\\.$#"
			count: 2
			path: ../tests/phpunit/AutoReview/ProjectCode/ProjectCodeProvider.php

		-
			message: "#^Only booleans are allowed in a ternary operator condition, string given\\.$#"
			count: 1
			path: ../tests/phpunit/AutoReview/ProjectCode/ProjectCodeProvider.php

		-
			message: "#^Only booleans are allowed in an if condition, int given\\.$#"
			count: 1
			path: ../tests/phpunit/AutoReview/SourceTestClassNameScheme.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 2
			path: ../tests/phpunit/Config/ConsoleHelperTest.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:resource\\(\\) with resource will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/Config/ValueProvider/BaseProviderTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 3
			path: ../tests/phpunit/Config/ValueProvider/PhpUnitCustomExecutablePathProviderTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:throwException\\(\\)\\.$#"
			count: 2
			path: ../tests/phpunit/Config/ValueProvider/PhpUnitCustomExecutablePathProviderTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 2
			path: ../tests/phpunit/Config/ValueProvider/TestFrameworkConfigPathProviderTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:exactly\\(\\)\\.$#"
			count: 3
			path: ../tests/phpunit/Config/ValueProvider/TestFrameworkConfigPathProviderTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:onConsecutiveCalls\\(\\)\\.$#"
			count: 3
			path: ../tests/phpunit/Config/ValueProvider/TestFrameworkConfigPathProviderTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:throwException\\(\\)\\.$#"
			count: 5
			path: ../tests/phpunit/Config/ValueProvider/TestFrameworkConfigPathProviderTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:never\\(\\)\\.$#"
			count: 1
			path: ../tests/phpunit/Config/ValueProvider/TestFrameworkConfigPathProviderTest.php

		-
			message: "#^Call to static method Infection\\\\Tests\\\\Configuration\\\\ConfigurationFactoryTest\\:\\:createValueForMinCoveredMsi\\(\\) with incorrect case\\: createValueForminCoveredMsi$#"
			count: 4
			path: ../tests/phpunit/Configuration/ConfigurationFactoryTest.php

		-
			message: "#^Variable \\$profile might not be defined\\.$#"
			count: 4
			path: ../tests/phpunit/Configuration/Schema/SchemaConfigurationFactoryTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 2
			path: ../tests/phpunit/Configuration/Schema/SchemaConfigurationFileLoaderTest.php

		-
			message: "#^Anonymous function should have native return typehint \"bool\"\\.$#"
			count: 1
			path: ../tests/phpunit/Configuration/Schema/SchemaConfigurationFileLoaderTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 2
			path: ../tests/phpunit/Configuration/Schema/SchemaConfigurationLoaderTest.php

		-
			message: "#^Only booleans are allowed in an if condition, Composer\\\\Autoload\\\\ClassLoader\\|null given\\.$#"
			count: 1
			path: ../tests/phpunit/Console/E2ETest.php

		-
			message: "#^Short ternary operator is not allowed\\. Use null coalesce operator if applicable or consider using long ternary\\.$#"
			count: 1
			path: ../tests/phpunit/Console/E2ETest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:never\\(\\)\\.$#"
			count: 1
			path: ../tests/phpunit/Console/LogVerbosityTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 4
			path: ../tests/phpunit/Console/LogVerbosityTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 9
			path: ../tests/phpunit/Console/OutputFormatter/DotFormatterTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:exactly\\(\\)\\.$#"
			count: 1
			path: ../tests/phpunit/Console/OutputFormatterStyleConfiguratorTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 1
			path: ../tests/phpunit/Console/OutputFormatterStyleConfiguratorTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertIsIterable\\(\\) with iterable\\<Infection\\\\TestFramework\\\\Coverage\\\\Trace\\> will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/ContainerTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 18
			path: ../tests/phpunit/EngineTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:never\\(\\)\\.$#"
			count: 12
			path: ../tests/phpunit/EngineTest.php

		-
			message: "#^Anonymous function should have native return typehint \"bool\"\\.$#"
			count: 2
			path: ../tests/phpunit/EngineTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:exactly\\(\\)\\.$#"
			count: 1
			path: ../tests/phpunit/EngineTest.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:notNull\\(\\) with Infection\\\\Tests\\\\EnvVariableManipulation\\\\EnvBackup and 'Attempted to…' will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/FileSystem/Finder/TestFrameworkFinderTest.php

		-
			message: "#^Variable method call on Infection\\\\Tests\\\\FileSystem\\\\Finder\\\\MockVendor\\.$#"
			count: 1
			path: ../tests/phpunit/FileSystem/Finder/TestFrameworkFinderTest.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:notNull\\(\\) with Infection\\\\Tests\\\\EnvVariableManipulation\\\\EnvBackup and 'Attempted to…' will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/Logger/BadgeLoggerTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:never\\(\\)\\.$#"
			count: 6
			path: ../tests/phpunit/Logger/BadgeLoggerTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 2
			path: ../tests/phpunit/Logger/BadgeLoggerTest.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Mixin\\:\\:allString\\(\\) with array\\<string\\> will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/EnvVariableManipulation/EnvBackup.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Infection\\\\\\\\Event\\\\\\\\ApplicationExecutionWasFinished' and Infection\\\\Event\\\\ApplicationExecutionWasFinished will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/Event/ApplicationExecutionWasFinishedTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Infection\\\\\\\\Event\\\\\\\\ApplicationExecutionWasStarted' and Infection\\\\Event\\\\ApplicationExecutionWasStarted will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/Event/ApplicationExecutionWasStartedTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Infection\\\\\\\\Event\\\\\\\\InitialTestCaseWasCompleted' and Infection\\\\Event\\\\InitialTestCaseWasCompleted will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/Event/InitialTestCaseWasCompletedTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Infection\\\\\\\\Event\\\\\\\\InitialTestSuiteWasStarted' and Infection\\\\Event\\\\InitialTestSuiteWasStarted will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/Event/InitialTestSuiteWasStartedTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Infection\\\\\\\\Event\\\\\\\\MutableFileWasProcessed' and Infection\\\\Event\\\\MutableFileWasProcessed will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/Event/MutableFileWasProcessedTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Infection\\\\\\\\Event\\\\\\\\MutationGenerationWasFinished' and Infection\\\\Event\\\\MutationGenerationWasFinished will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/Event/MutationGenerationWasFinishedTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Infection\\\\\\\\Event\\\\\\\\MutationTestingWasFinished' and Infection\\\\Event\\\\MutationTestingWasFinished will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/Event/MutationTestingWasFinishedTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 3
			path: ../tests/phpunit/Event/Subscriber/CiInitialTestsConsoleLoggerSubscriberTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 1
			path: ../tests/phpunit/Event/Subscriber/CiMutationGeneratingConsoleLoggerSubscriberTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:never\\(\\)\\.$#"
			count: 1
			path: ../tests/phpunit/Event/Subscriber/CleanUpAfterMutationTestingFinishedSubscriberFactoryTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 1
			path: ../tests/phpunit/Event/Subscriber/CleanUpAfterMutationTestingFinishedSubscriberTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:never\\(\\)\\.$#"
			count: 1
			path: ../tests/phpunit/Event/Subscriber/InitialTestsConsoleLoggerSubscriberFactoryTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 4
			path: ../tests/phpunit/Event/Subscriber/InitialTestsConsoleLoggerSubscriberTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:throwException\\(\\)\\.$#"
			count: 1
			path: ../tests/phpunit/Event/Subscriber/InitialTestsConsoleLoggerSubscriberTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:never\\(\\)\\.$#"
			count: 2
			path: ../tests/phpunit/Event/Subscriber/MutationTestingConsoleLoggerSubscriberFactoryTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 6
			path: ../tests/phpunit/Event/Subscriber/MutationTestingConsoleLoggerSubscriberTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 1
			path: ../tests/phpunit/Event/Subscriber/MutationTestingResultsLoggerSubscriberTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Infection\\\\\\\\FileSystem\\\\\\\\Finder\\\\\\\\Exception\\\\\\\\FinderException' and Infection\\\\FileSystem\\\\Finder\\\\Exception\\\\FinderException will always evaluate to true\\.$#"
			count: 4
			path: ../tests/phpunit/FileSystem/Finder/Exception/FinderExceptionTest.php

		-
			message: "#^Anonymous function should have native return typehint \"Generator\"\\.$#"
			count: 1
			path: ../tests/phpunit/IterableCounterTest.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:string\\(\\) with string will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/Logger/DummyLogger.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 2
			path: ../tests/phpunit/Logger/FileLoggerTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 2
			path: ../tests/phpunit/Logger/Http/StrykerDashboardClientTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 2
			path: ../tests/phpunit/Logger/LoggerRegistryTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:never\\(\\)\\.$#"
			count: 3
			path: ../tests/phpunit/Mutant/MutantExecutionResultFactoryTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 5
			path: ../tests/phpunit/Mutant/MutantExecutionResultFactoryTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 4
			path: ../tests/phpunit/Mutant/MutantFactoryTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:atLeastOnce\\(\\)\\.$#"
			count: 1
			path: ../tests/phpunit/Mutant/MutantFactoryTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:never\\(\\)\\.$#"
			count: 3
			path: ../tests/phpunit/Mutation/FileMutationGeneratorTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 4
			path: ../tests/phpunit/Mutation/FileMutationGeneratorTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Infection\\\\\\\\Mutation\\\\\\\\Mutation' and Infection\\\\Mutation\\\\Mutation will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/Mutation/FileMutationGeneratorTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 3
			path: ../tests/phpunit/Mutation/MutationGeneratorTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:exactly\\(\\)\\.$#"
			count: 4
			path: ../tests/phpunit/Mutation/MutationGeneratorTest.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:string\\(\\) with string will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/Mutator/BaseMutatorTestCase.php

		-
			message: "#^Anonymous function should have native return typehint \"string\"\\.$#"
			count: 1
			path: ../tests/phpunit/Mutator/Extensions/BCMathTest.php

		-
			message: "#^Only booleans are allowed in a ternary operator condition, int given\\.$#"
			count: 1
			path: ../tests/phpunit/Mutator/Extensions/BCMathTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 7
			path: ../tests/phpunit/Mutator/IgnoreMutatorTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:exactly\\(\\)\\.$#"
			count: 1
			path: ../tests/phpunit/Mutator/IgnoreMutatorTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 1
			path: ../tests/phpunit/Mutator/MutatorFactoryTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Infection\\\\\\\\Mutator\\\\\\\\Mutator' and Infection\\\\Mutator\\\\Mutator will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/Mutator/MutatorFactoryTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertIsArray\\(\\) with array will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/Mutator/MutatorResolverTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 1
			path: ../tests/phpunit/PhpParser/FileParserTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'PhpParser\\\\\\\\Node' and PhpParser\\\\Node will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/PhpParser/FileParserTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertNotFalse\\(\\) with string will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/PhpParser/FileParserTest.php

		-
			message: "#^Anonymous function should have native return typehint \"array\"\\.$#"
			count: 4
			path: ../tests/phpunit/PhpParser/Visitor/MutatorVisitorTest.php

		-
			message: "#^Short ternary operator is not allowed\\. Use null coalesce operator if applicable or consider using long ternary\\.$#"
			count: 1
			path: ../tests/phpunit/PhpParser/Visitor/ReflectionVisitorTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:never\\(\\)\\.$#"
			count: 1
			path: ../tests/phpunit/Process/Factory/MutantProcessFactoryTest.php

		-
			message: "#^Anonymous function should have native return typehint \"Generator\"\\.$#"
			count: 1
			path: ../tests/phpunit/Process/Runner/DryProcessRunnerTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 6
			path: ../tests/phpunit/Process/Runner/InitialTestsFailedTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 6
			path: ../tests/phpunit/Process/Runner/MutationTestingRunnerTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:exactly\\(\\)\\.$#"
			count: 2
			path: ../tests/phpunit/Process/Runner/MutationTestingRunnerTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:never\\(\\)\\.$#"
			count: 8
			path: ../tests/phpunit/Process/Runner/MutationTestingRunnerTest.php

		-
			message: "#^Instanceof between Infection\\\\Event\\\\MutationTestingWasFinished\\|Infection\\\\Event\\\\MutationTestingWasStarted and class\\-string will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/Process/Runner/MutationTestingRunnerTest.php

		-
			message: "#^Anonymous function should have native return typehint \"bool\"\\.$#"
			count: 2
			path: ../tests/phpunit/Process/Runner/MutationTestingRunnerTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 6
			path: ../tests/phpunit/Process/Runner/ParallelProcessRunnerTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 1
			path: ../tests/phpunit/Resource/Listener/PerformanceLoggerSubscriberTest.php

		-
			message: "#^Anonymous function should have native return typehint \"bool\"\\.$#"
			count: 1
			path: ../tests/phpunit/Resource/Listener/PerformanceLoggerSubscriberTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:never\\(\\)\\.$#"
			count: 2
			path: ../tests/phpunit/Resource/Memory/MemoryLimiterTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 4
			path: ../tests/phpunit/Resource/Memory/MemoryLimiterTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:exactly\\(\\)\\.$#"
			count: 1
			path: ../tests/phpunit/TestFramework/Coverage/BufferedSourceFileFilterTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:never\\(\\)\\.$#"
			count: 2
			path: ../tests/phpunit/TestFramework/Coverage/CoverageCheckerTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 3
			path: ../tests/phpunit/TestFramework/Coverage/CoveredTraceProviderTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 3
			path: ../tests/phpunit/TestFramework/Coverage/JUnit/JUnitTestExecutionInfoAdderTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:never\\(\\)\\.$#"
			count: 2
			path: ../tests/phpunit/TestFramework/Coverage/JUnit/JUnitTestExecutionInfoAdderTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 1
			path: ../tests/phpunit/TestFramework/Coverage/JUnit/MemoizedTestFileDataProviderTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Infection\\\\\\\\TestFramework\\\\\\\\Coverage\\\\\\\\JUnit\\\\\\\\TestFileNameNotFoundException' and Infection\\\\TestFramework\\\\Coverage\\\\JUnit\\\\TestFileNameNotFoundException will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/TestFramework/Coverage/JUnit/TestFileNameNotFoundExceptionTest.php

		-
			message: "#^Anonymous function should have native return typehint \"int\"\\.$#"
			count: 1
			path: ../tests/phpunit/TestFramework/Coverage/JUnit/TestLocationBucketSorterTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 1
			path: ../tests/phpunit/TestFramework/Coverage/UncoveredTraceProviderTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 3
			path: ../tests/phpunit/TestFramework/Coverage/UnionTraceProviderTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:never\\(\\)\\.$#"
			count: 1
			path: ../tests/phpunit/TestFramework/Coverage/UnionTraceProviderTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:never\\(\\)\\.$#"
			count: 1
			path: ../tests/phpunit/TestFramework/Coverage/XmlReport/PhpUnitXmlCoverageTraceProviderTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 2
			path: ../tests/phpunit/TestFramework/Coverage/XmlReport/XmlCoverageParserTest.php

		-
			message: "#^Dynamic call to static method PHPUnit\\\\Framework\\\\TestCase\\:\\:once\\(\\)\\.$#"
			count: 4
			path: ../tests/phpunit/TestFramework/PhpUnit/Adapter/PhpUnitAdapterTest.php

		-
			message: "#^Short ternary operator is not allowed\\. Use null coalesce operator if applicable or consider using long ternary\\.$#"
			count: 1
			path: ../tests/phpunit/TestFramework/PhpUnit/Config/Builder/InitialConfigBuilderTest.php

		-
			message: "#^Short ternary operator is not allowed\\. Use null coalesce operator if applicable or consider using long ternary\\.$#"
			count: 1
			path: ../tests/phpunit/TestFramework/PhpUnit/Config/Builder/MutationConfigBuilderTest.php

		-
			message: "#^Anonymous function should have native return typehint \"Generator\"\\.$#"
			count: 2
			path: ../tests/phpunit/TestFramework/PhpUnit/Config/XmlConfigurationVersionProviderTest.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'DOMDocument' and DOMDocument will always evaluate to true\\.$#"
			count: 1
			path: ../tests/phpunit/TestFramework/SafeDOMXPathTest.php

