includes:
    - ../vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - phpstan-baseline.neon

rules:
    - Infection\DevTools\PHPStan\Rules\InfectionContainerRule

parameters:
    tmpDir: ../var/cache/phpstan
    inferPrivatePropertyTypeFromConstructor: true
    sidzIgnoreMagicNumbers: [0, 0.0, 1, -1, 1.0, -1.0, 100]
    sidzIgnoreNumericStrings: true
    parallel:
        processTimeout: 120.0
    ignoreErrors:
        - '#generic class ReflectionClass (but )?does not specify its types#'
        - '#^Parameter \#\d+ \$.+ \(.+\) of method .+ should be contravariant with parameter \$.+ \(.+\) of method .+$#'
        - '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
        - '#^Dead catch - InvalidArgumentException is never thrown in the try block\.$#'
        - '#^Variable (method|property) (access|call) #'
        - '#^Call to internal method PHPUnit\\Framework\\TestCase\:\:addToAssertionCount\(\) from outside its root namespace PHPUnit\.$#'
        - '#^Call to.* method .*\(\) of internal class OndraM\\CiDetector\\TrinaryLogic from outside its root namespace OndraM\.$#'
        -
            path: '../src/Mutator/MutatorResolver.php'
            message: '#^Method Infection\\Mutator\\MutatorResolver::resolveSettings\(\) has parameter \$settings with no value type specified in iterable type array\.$#'
            count: 1
        -
            path: '../src/Logger/Html/StrykerHtmlReportBuilder.php'
            message: '#return type has no value type specified in iterable type array#'
        -
            path: '../src/Logger/Html/StrykerHtmlReportBuilder.php'
            message: '#return type with generic class ArrayObject does not specify its types\: TKey, TValue#'

        -
            message: "#^Generator expects value type list\\<PhpParser\\\\Node\\\\Stmt\\>, array\\<PhpParser\\\\Node\\\\Stmt\\> given\\.$#"
            count: 1
            path: ../src/Mutator/Unwrap/UnwrapFinally.php

        -
            message: "#^Generator expects value type list\\<PhpParser\\\\Node\\\\Stmt\\>, non\\-empty\\-array\\<PhpParser\\\\Node\\\\Stmt\\> given\\.$#"
            count: 1
            path: ../src/Mutator/Unwrap/UnwrapFinally.php

        -
            message: "#Do not use magic number (.*)#"
            count: 5
            path: ../src/TestFramework/Coverage/JUnit/TestLocationBucketSorter.php

        -
            message: "#Do not use magic number (.*)#"
            count: 12
            path: ../src/Mutator/Extensions/MBString.php

        -
            message: "#Do not use magic number (.*)#"
            count: 8
            path: ../src/Mutator/Extensions/BCMath.php
        -
            identifier: arrayFilter.strict

        # While it's not used yet, left for consistency as we have ending column passed and used
        -
            message: '#^Unused Infection\\Mutant\\MutantExecutionResult\:\:getOriginalStartingColumn$#'
            identifier: shipmonk.deadMethod
            count: 1
            path: ../src/Mutant/MutantExecutionResult.php

        # tests
        - '#Dynamic call to static method PHPUnit\\Framework\\.*::.*#'
        - '#Method Infection\\Tests\\.*::.*\(\) return type has no value type specified in iterable type iterable#'
        -
            message: '#Do not (use|return|assign) magic number (.)#'
            paths:
                - ../tests/*
        -
            message: "#^Instantiated class Infection\\\\Tests\\\\Fixtures\\\\Console\\\\FakeOutput not found\\.$#"
            count: 11
            path:  ../tests/*
        -
            message: '#^Call to method PHPUnit\\Framework\\Assert::assertNotFalse\(\) with SimpleXMLElement and ''Expected dumped…'' will always evaluate to true\.$#'
            path: ../tests/*
        -
            message: '#^Call to method PHPUnit\\Framework\\Assert::assertNotFalse\(\) with string will always evaluate to true\.$#'
            path: ../tests/*
        -
            message: '#^Call to method PHPUnit\\Framework\\Assert::assertInstanceOf\(\) with ''[a-zA-Z\\]+'' and [a-zA-Z\\]+ will always evaluate to (false|true)\.$#'
            path: ../tests/*
        -
            message: '#^Call to static method Webmozart\\Assert\\[a-zA-Z]+::[a-zA-Z]+\(\) with .* will always evaluate to true\.$#'
            path: ../tests/*
        -
            message: '#^Comparison operation "\<" between int\<.*, .*\> and .* is always false\.$#'
            path: ../tests/*
        -
            message: '#Offset .*\\.* does not exist on array<class-string<.*>.*#'
            path: ../tests/*
        -
            message: '#Return type \((void|mixed)\) of method .*(Visitor|Traverser).* should be compatible with return type .* of method PhpParser\\Node.*#'
            path: ../tests/*
        -
            message: '#^Function ini_get is unsafe to use\. It can return FALSE instead of throwing an exception\. Please add ''use function Safe\\ini_get;'' at the beginning of the file to use the variant provided by the ''thecodingmachine/safe'' library\.$#'
            identifier: theCodingMachineSafe.function
            count: 2
            path: ../tests/phpunit/Process/OriginalPhpProcessTest.php
        -
            message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
            count: 1
            path: ../tests/phpunit/Process/Runner/DryProcessRunnerTest.php
        -
            message: "#^PHPDoc tag @param for parameter \\$values contains unresolvable type\\.$#"
            count: 1
            path: ../tests/phpunit/MockedContainer.php

        -
            message: "#queryCount#"
            identifier: return.type
            count: 1
            path: ../src/TestFramework/SafeDOMXPath.php

        # We are explicitly testing the guards here
        -
            identifier: argument.type
            path: ../tests/phpunit/Mutator/Removal/ArrayItemRemovalConfigTest.php

        # We are not too interested in making the FakeFileSystem correct typewise.
        -
            message: "#Do not use magic number as default parameter#"
            path: ../src/FileSystem/FakeFileSystem.php
        -
            identifier: missingType.iterableValue
            path: ../src/FileSystem/FakeFileSystem.php

        # PHPStan fails to detect that we have at least one loop hence the result cannot be null.
        -
            message: '#::profile\(\) should return int but returns int\|null#'
            path: ../tests/benchmark/BlackfireInstrumentor.php
        -
            message: '#::profile\(\) should return int but returns int.*\|null#'
            path: ../tests/benchmark/DummyInstrumentor.php

        # This plugin does not seem to understand the PHPBench data providers
        -
            identifier: shipmonk.deadMethod
            message: '#Unused .+Bench::provide*#'
            path: ../tests/benchmark/*/*Bench.php

        # Test builders provide fluent API methods that may not be used immediately
        -
            identifier: shipmonk.deadMethod
            path: ../tests/phpunit/**/*Builder.php

        # PHPStan is (understandably) a bit confused at class-names of classes that do not exist.
        -
            identifier: argument.type
            path: ../tests/phpunit/Framework/ClassNameTest.php

        # Those magic numbers are related to the class name manipulation, they are not very interesting
        # to extract into named constants.
        -
            message: '#Do not use magic number as a function argument.#'
            path: ../src/Framework/ClassName.php

        # Those cannot be avoided as ClassName does some class-string manipulation.
        -
            message: '#should return .*class-string.* but returns .*string#'
            path: ../src/Framework/ClassName.php
        -
            message: '#expects class-string, string given#'
            path: ../src/Framework/ClassName.php

        # This is a valid case of magic number
        -
            message: "#Do not use magic number as a function argument. Move to constant with a suitable name.#"
            count: 1
            path: ../src/Git/CommandLineGit.php

        # PHPStan cannot really properly infer that we throw those here
        -
            message: '#^Method .+\\Container::getConfiguration\(\) has .+\\(FileOrDirectoryNotFound|NoSourceFound) in PHPDoc \@throws tag but it.+s not thrown\.$#'
            identifier: throws.unusedType
            path: ../src/Container/Container.php

        # This is legit; To review if that remains to be true once we dealt with
        # https://github.com/infection/infection/issues/2760.
        -
            message: '#getDefaultLocation#'
            identifier: shipmonk.deadMethod
            path: ../src/TestFramework/Coverage/Locator/ReportLocator.php
        -
            message: '#getDefaultLocation#'
            identifier: shipmonk.deadMethod
            path: ../src/TestFramework/Coverage/Locator/FakeLocator.php

        # PHPStan cannot really properly infer the types here
        -
            message: '#BasicSourceCollector::makePathsAbsolute\(\)#'
            identifier: argument.type
            path: ../src/Source/Collector/BasicSourceCollector.php
        -
            message: '#BasicSourceCollector::makePathsAbsolute\(\)#'
            identifier: return.type
            path: ../src/Source/Collector/BasicSourceCollector.php

        # False-positive: the value cannot be -1 with our configuration.
        -
            message: '#^.*(start|end)Line.*SourceLineMatcher::touches\(\) expects int\<1\, max\>\, -1\|int\<1\, max\> given\.$#'
            identifier: argument.type
            path: ../src/Mutator/NodeMutationGenerator.php

        # This class is copy/pasted from PhpParser so we don't want to change it too much
        -
            identifier: if.condNotBoolean
            path: ../tests/phpunit/TestingUtility/PhpParser/NodeDumper/NodeDumper.php
        -
            identifier: booleanAnd.rightNotBoolean
            path: ../tests/phpunit/TestingUtility/PhpParser/NodeDumper/NodeDumper.php

        # False-positives
        -
            message: '#TeamCity::escapeValue\(\) should return non-empty-string#'
            identifier: return.type
            path: ../src/Logger/MutationAnalysis/TeamCity/TeamCity.php
    level: 8
    paths:
        - ../src
        - ../tests/phpunit
        - ../tests/benchmark
        - ./PHPStan/
    excludePaths:
        - %currentWorkingDirectory%/src/FileSystem/DummyFileSystem.php
        - %currentWorkingDirectory%/src/CustomMutator/templates/__Name__.php
        - %currentWorkingDirectory%/src/CustomMutator/templates/__Name__Test.php
        - %currentWorkingDirectory%/tests/e2e/*
        - %currentWorkingDirectory%/tests/phpunit/Fixtures/*
        - ../tests/phpunit/Mutation/FileMutationGenerator/Fixtures/TwoAdditions.php
        - ../tests/phpunit/PhpParser/Visitor/VisitorCollectorIntegration/Fixtures/TwoAdditions.php
        # Current PHPStan version doesn't support `array<int, callable<mixed>>` syntax (callable)
        - %currentWorkingDirectory%/tests/phpunit/WithConsecutive.php
        - ../tests/benchmark/MutationGenerator/sources (?)
        - ../tests/benchmark/Tracing/coverage (?)
        - ../tests/benchmark/Tracing/sources (?)
        - ../tests/benchmark/Tracing/benchmark-source (?)
    stubFiles:
        - phpstan.stub
    treatPhpDocTypesAsCertain: false
