includes:
    - ../vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#.* value type specified in iterable type Symfony\\Component\\Process\\Process#'
        - '#generic class ReflectionClass (but )?does not specify its types#'
        - '#expects .*, array<string>\|bool\|string\|null given#'
        - '#cast array<string>\|bool\|string\|null to#'
        -
            path: '../src/PhpParser/FileParser.php'
            message: '#Method Infection\\PhpParser\\FileParser::parse\(\) should return array<PhpParser\\Node> but returns array<PhpParser\\Node\\Stmt>\|null\.#'
            count: 1
        -
            path: '../src/Reflection/AnonymousClassReflection.php'
            message: '#Parameter \#1 \$argument of class ReflectionClass constructor expects class\-string\<T of object\>\|T of object\, string given\.#'
            count: 1
        -
            path: '../src/Reflection/CoreClassReflection.php'
            message: '#Parameter \#1 \$argument of class ReflectionClass constructor expects class\-string\<T of object\>\|T of object\, string given\.#'
            count: 1
        -
            path: '../src/TestFramework/Coverage/XmlReport/SourceFileInfoProvider.php'
            message: '#Function realpath is unsafe to use\.#'
            count: 1
        -
            path: '../src/Container.php'
            message: '#^Method Infection\\Container::get.*\(\) should return .* but returns object\.$#'
            count: 1
        -
            path: '../src/Container.php'
            message: '#^Parameter \#1 \$processHandler of class Infection\\Process\\Runner\\ParallelProcessRunner constructor expects Closure\(Infection\\Process\\Runner\\ProcessBearer\)\: void\, Closure\(Infection\\Process\\MutantProcess\): void given\.$#'
            count: 1
        -
            path: '../src/TestFramework/Coverage/JUnit/JUnitTestCaseSorter.php'
            message: '#array_key_exists expects int\|string, string\|null given#'
            count: 1
        -
            path: '../src/FileSystem/DummyFileSystem.php'
            message: '#Infection\\FileSystem\\DummyFileSystem#'
    level: max
    paths:
        - ../src
