parameters:
    tmpDir: ../build/cache/phpstan-tests
    parallel:
        processTimeout: 120.0
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    excludePaths:
        - %currentWorkingDirectory%/tests/e2e/*
        - %currentWorkingDirectory%/tests/phpunit/Fixtures/*
        # Current PHPStan version doesn't support `array<int, callable<mixed>>` syntax (callable)
        - %currentWorkingDirectory%/tests/phpunit/WithConsecutive.php
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#Return type \((void|mixed)\) of method .*(Visitor|Traverser).* should be compatible with return type .* of method PhpParser\\Node.*#'
        - '#Offset .*\\.* does not exist on array<class-string<.*>.*#'
        - '#Dynamic call to static method PHPUnit\\Framework\\.*::.*#'
        - '#^Call to method PHPUnit\\Framework\\Assert::assertNotFalse\(\) with SimpleXMLElement and ''Expected dumped…'' will always evaluate to true\.$#'
        - '#^Call to method PHPUnit\\Framework\\Assert::assertNotFalse\(\) with string will always evaluate to true\.$#'
        - '#^Call to method PHPUnit\\Framework\\Assert::assertInstanceOf\(\) with ''[a-zA-Z\\]+'' and [a-zA-Z\\]+ will always evaluate to (false|true)\.$#'
        - '#^Call to static method Webmozart\\Assert\\[a-zA-Z]+::[a-zA-Z]+\(\) with .* will always evaluate to true\.$#'
        - '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
        -
            message: "#^Variable method call on Infection\\\\Tests\\\\FileSystem\\\\Finder\\\\MockVendor\\.$#"
            count: 1
            path: ../tests/phpunit/FileSystem/Finder/TestFrameworkFinderTest.php
        -
            message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertTrue\\(\\) with false will always evaluate to false\\.$#"
            count: 1
            path: ../tests/phpunit/Process/MutantProcessTest.php
        -
            message: '#Do not (use|return|assign) magic number (.)#'
            paths:
                - ../tests/*
        -
            message: "#^Instantiated class Infection\\\\Tests\\\\Fixtures\\\\Console\\\\FakeOutput not found\\.$#"
            count: 11
            path:  ../tests/*
        -
            message: "#^PHPDoc tag @param for parameter \\$values contains unresolvable type\\.$#"
            count: 1
            path: ../tests/phpunit/MockedContainer.php
    level: 4
    paths:
        - ../tests/phpunit
    treatPhpDocTypesAsCertain: false
