includes:
    - ../vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - phpstan-src-baseline.neon

parameters:
    tmpDir: ../build/cache/phpstan-src
    inferPrivatePropertyTypeFromConstructor: true
    sidzIgnoreMagicNumbers: [0, 0.0, 1, -1, 1.0, -1.0, 100]
    sidzIgnoreNumericStrings: true
    ignoreErrors:
        - '#generic class ReflectionClass (but )?does not specify its types#'
        - '#^Call to static method Webmozart\\Assert\\[a-zA-Z]+::[a-zA-Z]+\(\) with .* will always evaluate to true\.$#'
        - '#^Parameter \#\d+ \$.+ \(.+\) of method .+ should be contravariant with parameter \$.+ \(.+\) of method .+$#'
        - '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
        - '#^Dead catch - InvalidArgumentException is never thrown in the try block\.$#'
        - '#^Variable (method|property) (access|call) #'
        -
            path: '../src/Mutator/MutatorResolver.php'
            message: '#^Method Infection\\Mutator\\MutatorResolver::resolveSettings\(\) has parameter \$settings with no value type specified in iterable type array\.$#'
            count: 1
        -
            path: '../src/Container.php'
            message: '#^Method Infection\\Container::get.*\(\) should return .* but returns object\.$#'
            count: 1
        -
            path: '../src/Logger/Html/StrykerHtmlReportBuilder.php'
            message: '#return type has no value type specified in iterable type array#'
        -
            path: '../src/Logger/Html/StrykerHtmlReportBuilder.php'
            message: '#return type with generic class ArrayObject does not specify its types\: TKey, TValue#'
        -
            message: "#^ArrayObject\\<\\*NEVER\\*, \\*NEVER\\*\\> does not accept array\\<string, array\\|string\\>\\.$#"
            count: 1
            path: ../src/Logger/Html/StrykerHtmlReportBuilder.php

        -
            message: "#^Generator expects value type list\\<PhpParser\\\\Node\\\\Stmt\\>, array\\<PhpParser\\\\Node\\\\Stmt\\> given\\.$#"
            count: 1
            path: ../src/Mutator/Unwrap/UnwrapFinally.php

        -
            message: "#^Generator expects value type list\\<PhpParser\\\\Node\\\\Stmt\\>, non\\-empty\\-array\\<PhpParser\\\\Node\\\\Stmt\\> given\\.$#"
            count: 1
            path: ../src/Mutator/Unwrap/UnwrapFinally.php

        -
            message: "#^Method Infection\\\\TestFramework\\\\SafeDOMXPath\\:\\:query\\(\\) should return DOMNodeList\\<DOMElement\\> but returns DOMNodeList\\<DOMNode\\>\\.$#"
            count: 1
            path: ../src/TestFramework/SafeDOMXPath.php

        -
            message: "#Do not use magic number (.*)#"
            count: 5
            path: ../src/TestFramework/Coverage/JUnit/TestLocationBucketSorter.php

        -
            message: "#Do not use magic number (.*)#"
            count: 12
            path: ../src/Mutator/Extensions/MBString.php

        -
            message: "#Do not use magic number (.*)#"
            count: 8
            path: ../src/Mutator/Extensions/BCMath.php

    level: 8
    paths:
        - ../src
    excludePaths:
        - %currentWorkingDirectory%/src/FileSystem/DummyFileSystem.php
        - %currentWorkingDirectory%/src/FileSystem/DummySymfony5FileSystem.php
        - %currentWorkingDirectory%/src/FileSystem/DummySymfony6FileSystem.php
        - %currentWorkingDirectory%/src/CustomMutator/templates/__Name__.php
        - %currentWorkingDirectory%/src/CustomMutator/templates/__Name__Test.php
    stubFiles:
        - phpstan.stub
    treatPhpDocTypesAsCertain: false
