parameters:
	ignoreErrors:
		-
			message: "#^Only booleans are allowed in an if condition, array\\<string\\> given\\.$#"
			count: 2
			path: ../src/Command/ConfigureCommand.php

		-
			message: "#^Only booleans are allowed in an if condition, string\\|null given\\.$#"
			count: 3
			path: ../src/Command/ConfigureCommand.php

		-
			message: "#^Short ternary operator is not allowed\\. Use null coalesce operator if applicable or consider using long ternary\\.$#"
			count: 2
			path: ../src/Command/RunCommand.php

		-
			message: "#^Only booleans are allowed in a ternary operator condition, string\\|null given\\.$#"
			count: 1
			path: ../src/Config/ConsoleHelper.php

		-
			message: "#^Variable property access on mixed\\.$#"
			count: 4
			path: ../src/Config/Guesser/PhpUnitPathGuesser.php

		-
			message: "#^Variable property access on mixed\\.$#"
			count: 3
			path: ../src/Config/Guesser/SourceDirGuesser.php

		-
			message: "#^Anonymous function should have native return typehint \"string\"\\.$#"
			count: 1
			path: ../src/Config/ValueProvider/ExcludeDirsProvider.php

		-
			message: "#^Anonymous function should have native return typehint \"string\"\\.$#"
			count: 1
			path: ../src/Config/ValueProvider/PhpUnitCustomExecutablePathProvider.php

		-
			message: "#^Only booleans are allowed in a negated boolean, array\\|float\\|int\\|string\\|false\\|null given\\.$#"
			count: 1
			path: ../src/Config/ValueProvider/PhpUnitCustomExecutablePathProvider.php

		-
			message: "#^Only booleans are allowed in a ternary operator condition, array\\<string\\> given\\.$#"
			count: 1
			path: ../src/Config/ValueProvider/SourceDirsProvider.php

		-
			message: "#^Only booleans are allowed in an if condition, string given\\.$#"
			count: 1
			path: ../src/Config/ValueProvider/TestFrameworkConfigPathProvider.php

		-
			message: "#^Only booleans are allowed in a negated boolean, string given\\.$#"
			count: 1
			path: ../src/Config/ValueProvider/TestFrameworkConfigPathProvider.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Mixin\\:\\:allString\\(\\) with array\\<string\\> will always evaluate to true\\.$#"
			count: 1
			path: ../src/Configuration/Configuration.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Mixin\\:\\:allIsInstanceOf\\(\\) with array\\<string, Infection\\\\Mutator\\\\Mutator\\<PhpParser\\\\Node\\>\\> and 'Infection\\\\\\\\Mutator\\\\\\\\Mutator' will always evaluate to true\\.$#"
			count: 1
			path: ../src/Configuration/Configuration.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Mixin\\:\\:allString\\(\\) with array\\<string\\> will always evaluate to true\\.$#"
			count: 2
			path: ../src/Configuration/Entry/Source.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Mixin\\:\\:allString\\(\\) with array\\<string\\> will always evaluate to true\\.$#"
			count: 1
			path: ../src/Configuration/Schema/InvalidSchema.php

		-
			message: "#^Anonymous function should have native return typehint \"string\"\\.$#"
			count: 1
			path: ../src/Differ/DiffColorizer.php

		-
			message: "#^Call to function is_string\\(\\) with string will always evaluate to true\\.$#"
			count: 1
			path: ../src/Environment/StrykerApiKeyResolver.php

		-
			message: "#^Only booleans are allowed in an if condition, string\\|null given\\.$#"
			count: 1
			path: ../src/FileSystem/Finder/ComposerExecutableFinder.php

		-
			message: "#^Short ternary operator is not allowed\\. Use null coalesce operator if applicable or consider using long ternary\\.$#"
			count: 1
			path: ../src/FileSystem/Finder/NonExecutableFinder.php

		-
			message: "#^Only booleans are allowed in a negated boolean, string\\|false given\\.$#"
			count: 1
			path: ../src/FileSystem/Finder/NonExecutableFinder.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:string\\(\\) with string will always evaluate to true\\.$#"
			count: 1
			path: ../src/FileSystem/Finder/TestFrameworkFinder.php

		-
			message: "#^Only booleans are allowed in a negated boolean, string given\\.$#"
			count: 1
			path: ../src/FileSystem/Finder/TestFrameworkFinder.php

		-
			message: "#^Only booleans are allowed in a ternary operator condition, string\\|false given\\.$#"
			count: 1
			path: ../src/FileSystem/Finder/TestFrameworkFinder.php

		-
			message: "#^Only booleans are allowed in an if condition, string\\|null given\\.$#"
			count: 1
			path: ../src/FileSystem/Finder/TestFrameworkFinder.php

		-
			message: "#^Only booleans are allowed in an if condition, int given\\.$#"
			count: 1
			path: ../src/FileSystem/Finder/TestFrameworkFinder.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Mixin\\:\\:allString\\(\\) with array\\<string\\> will always evaluate to true\\.$#"
			count: 3
			path: ../src/FileSystem/Locator/FileNotFound.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Mixin\\:\\:allString\\(\\) with array\\<string\\> will always evaluate to true\\.$#"
			count: 3
			path: ../src/FileSystem/Locator/FileOrDirectoryNotFound.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Mixin\\:\\:allString\\(\\) with array\\<string\\> will always evaluate to true\\.$#"
			count: 1
			path: ../src/FileSystem/Locator/RootsFileLocator.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Mixin\\:\\:allString\\(\\) with array\\<string\\> will always evaluate to true\\.$#"
			count: 1
			path: ../src/FileSystem/Locator/RootsFileOrDirectoryLocator.php

		-
			message: "#^Parameter \\#1 \\$level \\(string\\) of method Infection\\\\Logger\\\\ConsoleLogger\\:\\:log\\(\\) should be contravariant with parameter \\$level \\(mixed\\) of method Psr\\\\Log\\\\LoggerInterface\\:\\:log\\(\\)$#"
			count: 2
			path: ../src/Logger/ConsoleLogger.php

		-
			message: "#^Variable method call on Infection\\\\Console\\\\IO\\.$#"
			count: 1
			path: ../src/Logger/ConsoleLogger.php

		-
			message: "#^Casting to int\\<0, max\\> something that's already int\\<0, max\\>\\.$#"
			count: 1
			path: ../src/Logger/PerMutatorLogger.php

		-
			message: "#^Foreach overwrites \\$executionResults with its value variable\\.$#"
			count: 1
			path: ../src/Logger/PerMutatorLogger.php

		-
			message: "#^Implicit array creation is not allowed \\- variable \\$logs does not exist\\.$#"
			count: 1
			path: ../src/Logger/TextFileLogger.php

		-
			message: "#^Only booleans are allowed in &&, float given on the left side\\.$#"
			count: 2
			path: ../src/Metrics/MinMsiChecker.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Mixin\\:\\:allIsInstanceOf\\(\\) with array\\<Infection\\\\Mutator\\\\Mutator\\<PhpParser\\\\Node\\>\\> and 'Infection\\\\\\\\Mutator\\\\\\\\Mutator' will always evaluate to true\\.$#"
			count: 1
			path: ../src/Mutation/FileMutationGenerator.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Mixin\\:\\:allIsInstanceOf\\(\\) with array\\<Infection\\\\PhpParser\\\\Visitor\\\\IgnoreNode\\\\NodeIgnorer\\> and 'Infection\\\\\\\\PhpParser\\\\\\\\Visitor\\\\\\\\IgnoreNode\\\\\\\\NodeIgnorer' will always evaluate to true\\.$#"
			count: 1
			path: ../src/Mutation/FileMutationGenerator.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Mixin\\:\\:allIsInstanceOf\\(\\) with array\\<Infection\\\\Mutator\\\\Mutator\\<PhpParser\\\\Node\\>\\> and 'Infection\\\\\\\\Mutator\\\\\\\\Mutator' will always evaluate to true\\.$#"
			count: 1
			path: ../src/Mutation/MutationGenerator.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:boolean\\(\\) with bool and string will always evaluate to true\\.$#"
			count: 1
			path: ../src/Mutator/AllowedFunctionsConfig.php

		-
			message: "#^Instanceof between PhpParser\\\\Node\\\\Expr\\\\PostDec and PhpParser\\\\Node\\\\Expr\\\\PostDec will always evaluate to true\\.$#"
			count: 1
			path: ../src/Mutator/Arithmetic/Decrement.php

		-
			message: "#^Instanceof between PhpParser\\\\Node\\\\Expr\\\\PostInc and PhpParser\\\\Node\\\\Expr\\\\PostInc will always evaluate to true\\.$#"
			count: 1
			path: ../src/Mutator/Arithmetic/Increment.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:boolean\\(\\) with bool and string will always evaluate to true\\.$#"
			count: 1
			path: ../src/Mutator/Boolean/TrueValueConfig.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:isArray\\(\\) with array and string will always evaluate to true\\.$#"
			count: 1
			path: ../src/Mutator/MutatorFactory.php

		-
			message: "#^Casting to string something that's already string\\.$#"
			count: 1
			path: ../src/Mutator/MutatorFactory.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Mixin\\:\\:allIsInstanceOf\\(\\) with array\\<Infection\\\\Mutator\\\\Mutator\\<PhpParser\\\\Node\\>\\> and 'Infection\\\\\\\\Mutator\\\\\\\\Mutator' will always evaluate to true\\.$#"
			count: 1
			path: ../src/Mutator/NodeMutationGenerator.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:isInstanceOf\\(\\) with PhpParser\\\\Node\\\\Stmt\\\\TryCatch and 'PhpParser\\\\\\\\Node\\\\\\\\Stmt\\\\\\\\TryCatch' will always evaluate to true\\.$#"
			count: 1
			path: ../src/Mutator/Operator/Finally_.php

		-
			message: "#^Call to function in_array\\(\\) requires parameter \\#3 to be set\\.$#"
			count: 1
			path: ../src/Mutator/Removal/FunctionCallRemoval.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Mixin\\:\\:allIsInstanceOf\\(\\) with array\\<PhpParser\\\\Node\\> and 'PhpParser\\\\\\\\Node' will always evaluate to true\\.$#"
			count: 1
			path: ../src/PhpParser/MutatedNode.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:isInstanceOf\\(\\) with PhpParser\\\\Node and 'PhpParser\\\\\\\\Node' will always evaluate to true\\.$#"
			count: 1
			path: ../src/PhpParser/MutatedNode.php

		-
			message: "#^Only booleans are allowed in an if condition, mixed given\\.$#"
			count: 1
			path: ../src/PhpParser/Visitor/ReflectionVisitor.php

		-
			message: "#^Parameter \\#2 \\$env \\(array\\<bool\\|string\\>\\|null\\) of method Infection\\\\Process\\\\OriginalPhpProcess\\:\\:start\\(\\) should be contravariant with parameter \\$env \\(array\\) of method Symfony\\\\Component\\\\Process\\\\Process\\:\\:start\\(\\)$#"
			count: 1
			path: ../src/Process/OriginalPhpProcess.php

		-
			message: "#^Only booleans are allowed in an if condition, string given\\.$#"
			count: 2
			path: ../src/Process/Runner/InitialTestsFailed.php

		-
			message: "#^Anonymous function should have native return typehint \"bool\"\\.$#"
			count: 3
			path: ../src/Process/Runner/MutationTestingRunner.php

		-
			message: "#^Short ternary operator is not allowed\\. Use null coalesce operator if applicable or consider using long ternary\\.$#"
			count: 1
			path: ../src/TestFramework/Config/TestFrameworkConfigLocator.php

		-
			message: "#^Anonymous function should have native return typehint \"bool\"\\.$#"
			count: 1
			path: ../src/TestFramework/Coverage/BufferedSourceFileFilter.php

		-
			message: "#^Only booleans are allowed in \\|\\|, string given on the right side\\.$#"
			count: 1
			path: ../src/TestFramework/Coverage/CoverageChecker.php

		-
			message: "#^Anonymous function should have native return typehint \"int\\<\\-1, 1\\>\"\\.$#"
			count: 1
			path: ../src/TestFramework/Coverage/JUnit/JUnitTestCaseSorter.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:notNull\\(\\) with DOMNodeList\\<DOMElement\\> will always evaluate to true\\.$#"
			count: 1
			path: ../src/TestFramework/Coverage/JUnit/JUnitTestFileDataProvider.php

		-
			message: "#^Only numeric types are allowed in \\*, float\\|null given on the left side\\.$#"
			count: 1
			path: ../src/TestFramework/Coverage/JUnit/TestLocationBucketSorter.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:string\\(\\) with string will always evaluate to true\\.$#"
			count: 1
			path: ../src/TestFramework/Coverage/XmlReport/XPathFactory.php

		-
			message: "#^Method Infection\\\\TestFramework\\\\PhpUnit\\\\Adapter\\\\PestAdapterFactory\\:\\:create\\(\\) has parameter \\$sourceDirectories with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/TestFramework/PhpUnit/Adapter/PestAdapterFactory.php

		-
			message: "#^Only booleans are allowed in an if condition, int given\\.$#"
			count: 3
			path: ../src/TestFramework/PhpUnit/Adapter/PhpUnitAdapter.php

		-
			message: "#^Only booleans are allowed in \\|\\|, int given on the left side\\.$#"
			count: 1
			path: ../src/TestFramework/PhpUnit/Adapter/PhpUnitAdapter.php

		-
			message: "#^Only booleans are allowed in \\|\\|, int given on the right side\\.$#"
			count: 2
			path: ../src/TestFramework/PhpUnit/Adapter/PhpUnitAdapter.php

		-
			message: "#^Parameter \\#7 \\$sourceDirectories \\(array\\<string\\>\\) of method Infection\\\\TestFramework\\\\PhpUnit\\\\Adapter\\\\PhpUnitAdapterFactory\\:\\:create\\(\\) should be contravariant with parameter \\$sourceDirectories \\(array\\) of method Infection\\\\AbstractTestFramework\\\\TestFrameworkAdapterFactory\\:\\:create\\(\\)$#"
			count: 1
			path: ../src/TestFramework/PhpUnit/Adapter/PhpUnitAdapterFactory.php

		-
			message: "#^Only booleans are allowed in a negated boolean, int given\\.$#"
			count: 1
			path: ../src/TestFramework/PhpUnit/Config/Builder/InitialConfigBuilder.php

		-
			message: "#^Only booleans are allowed in an if condition, int given\\.$#"
			count: 2
			path: ../src/TestFramework/PhpUnit/Config/Builder/MutationConfigBuilder.php

		-
			message: "#^Only booleans are allowed in a negated boolean, DOMElement\\|null given\\.$#"
			count: 1
			path: ../src/TestFramework/PhpUnit/Config/Builder/MutationConfigBuilder.php

		-
			message: "#^Only booleans are allowed in &&, int given on the left side\\.$#"
			count: 1
			path: ../src/TestFramework/PhpUnit/Config/XmlConfigurationManipulator.php

		-
			message: "#^Only booleans are allowed in an if condition, string given\\.$#"
			count: 1
			path: ../src/TestFramework/PhpUnit/Config/XmlConfigurationManipulator.php

		-
			message: "#^Only booleans are allowed in an if condition, string\\|false given\\.$#"
			count: 1
			path: ../src/TestFramework/PhpUnit/Config/XmlConfigurationManipulator.php

		-
			message: "#^Only booleans are allowed in an if condition, int given\\.$#"
			count: 2
			path: ../src/TestFramework/PhpUnit/Config/XmlConfigurationManipulator.php

		-
			message: "#^Only booleans are allowed in an if condition, int given\\.$#"
			count: 6
			path: ../src/TestFramework/PhpUnit/Config/XmlConfigurationVersionProvider.php

		-
			message: "#^Variable property access on \\$this\\(Infection\\\\TestFramework\\\\SafeDOMXPath\\)\\.$#"
			count: 1
			path: ../src/TestFramework/SafeDOMXPath.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:notNull\\(\\) with string will always evaluate to true\\.$#"
			count: 1
			path: ../src/TestFramework/TestFrameworkExtraOptionsFilter.php

		-
			message: "#^Casting to string something that's already string\\.$#"
			count: 1
			path: ../src/TestFramework/TestFrameworkExtraOptionsFilter.php

