includes:
    - phar://%currentWorkingDirectory%/.tools/phpstan/conf/bleedingEdge.neon

parameters:
    ignoreErrors:
        - '#expects .*, array<string>\|bool\|string\|null given#'
        - '#cast array<string>\|bool\|string\|null to#'
        -
            path: '%currentWorkingDirectory%/src/Process/Runner/Parallel/ParallelProcessRunner.php'
            message: '#Left side of [\&]{2} is always true#'

