name: Autoreview

on:
  pull_request:
  push:
    branches:
      - main
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  tests:

    runs-on: ubuntu-latest


    timeout-minutes: 30

    strategy:
      matrix:
        php-version: ['8.2', '8.3', '8.4', '8.5']

    name: Autoreview on PHP ${{ matrix.php-version }}


    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd


      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer
          coverage: none
          ini-values: opcache.enable_cli=1, opcache.jit=tracing, opcache.jit_buffer_size=100M
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


      - name: Configure PHP-CS-Fixer GitHub Actions cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
        with:
          path: ./var/cache/php-cs-fixer
          key: ${{ matrix.php-version }}-php-cs-fixer-${{ github.run_id }}
          restore-keys: ${{ matrix.php-version }}-php-cs-fixer


      - name: Configure Rector GitHub Actions cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
        with:
          path: ./var/cache/rector
          key: ${{ matrix.php-version }}-rector-${{ github.run_id }}
          restore-keys: ${{ matrix.php-version }}-rector


      - name: Configure PHPStan GitHub Actions cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
        with:
          path: ./var/cache/phpstan
          key: ${{ matrix.php-version }}-phpstan-${{ github.run_id }}
          restore-keys: ${{ matrix.php-version }}-phpstan


      - name: Configure Psalm GitHub Actions cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
        with:
          path: ./var/cache/psalm
          key: ${{ matrix.php-version }}-psalm-${{ github.run_id }}
          restore-keys: ${{ matrix.php-version }}-psalm


      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT


      - name: Cache dependencies
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: composer-${{ runner.os }}-${{ matrix.php-version }}-${{ hashFiles('composer.*') }}
          restore-keys: |
            composer-${{ runner.os }}-${{ matrix.php-version }}-
            composer-${{ runner.os }}-
            composer-


      - name: Install dependencies
        run: |
          composer install --no-interaction --prefer-dist --no-progress


      - name: Run auto-review tests
        run: make autoreview --keep-going

  tests-status:

    name: Autoreview Status

    runs-on: ubuntu-latest


    timeout-minutes: 30

    needs: tests

    if: always()


    steps:
      - name: Successful run
        if: "${{ !(contains(needs.*.result, 'failure')) }}"
        run: exit 0


      - name: Failing run
        if: "${{ contains(needs.*.result, 'failure') }}"
        run: exit 1
