# yamllint disable rule:line-length
# yamllint disable rule:braces

name: Benchmarks

on:
  pull_request:
  push:
    branches:
      - main
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    name: 'Tests'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          tools: composer

      - name: Install dependencies
        uses: ramsey/composer-install@v3

      - name: Run tests
        shell: bash
        run: make test-benchmark

  benchmarks:
      runs-on: ubuntu-latest
      timeout-minutes: 30
      name: 'Benchmarks'
      steps:
          - name: Checkout code
            uses: actions/checkout@v4

          - name: Setup PHP
            uses: shivammathur/setup-php@v2
            with:
                php-version: '8.4'
                tools: composer

          - name: Install dependencies
            uses: ramsey/composer-install@v3

          - name: Run benchmarks
            shell: bash
            run: make benchmark

  # This is a meta job to avoid to have to constantly change the protection rules
  # whenever we touch the matrix.
  tests-status:
    name: Benchmarks Status
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs:
      - tests
      - benchmarks
    if: always()
    steps:
      - name: Successful run
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0

      - name: Failing run
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
