name: Coding Standards

on:
  pull_request:
  push:
    branches:
      - main
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  coding-standards:
    name: Coding Standards
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          # Should use the lowest supported version to ensure the CS-Fixer does
          # not get confused and apply a rule that would break on lower supported
          # versions.
          php-version: 8.2

      - name: Configure PHP-CS-Fixer GitHub Actions cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ./var/cache/php-cs-fixer
          key: "8.2-php-cs-fixer-${{ github.run_id }}"
          restore-keys: "php-cs-fixer"

      - name: Run PHP-CS-Fixer
        run: make cs-check
