# yamllint disable rule:line-length
# yamllint disable rule:braces

name: E2E Tests

on:
  pull_request:
  push:
    branches:
      - main
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ${{ matrix.operating-system }}
    timeout-minutes: 30

    strategy:
      matrix:
        operating-system: [ ubuntu-latest ]
        php-version: [ '8.2' ]
        dependencies: [ locked ]
        composer: [ 'composer' ]
        coverage-driver: [ pcov, xdebug ]
        e2e-runner: [ 'bin/infection' ]
        include:
          - { operating-system: 'windows-latest', php-version: '8.2', composer: 'composer', coverage-driver: 'xdebug', e2e-runner: 'bin/infection' }
          - { operating-system: 'ubuntu-latest', php-version: '8.2', composer: 'composer', coverage-driver: 'pcov', e2e-runner: 'bin/infection' }
          - { operating-system: 'ubuntu-latest', php-version: '8.2', composer: 'composer', coverage-driver: 'xdebug', e2e-runner: 'dist/infection.phar' }
          - { operating-system: 'ubuntu-latest', php-version: '8.2', composer: 'composer', coverage-driver: 'pcov', e2e-runner: 'dist/infection.phar' }
          - { operating-system: 'ubuntu-latest', php-version: '8.3', composer: 'composer', coverage-driver: 'xdebug', e2e-runner: 'bin/infection' }
          - { operating-system: 'ubuntu-latest', php-version: '8.3', composer: 'composer', coverage-driver: 'pcov', e2e-runner: 'bin/infection' }
          - { operating-system: 'ubuntu-latest', php-version: '8.4', composer: 'composer', coverage-driver: 'xdebug', e2e-runner: 'bin/infection' }
          - { operating-system: 'ubuntu-latest', php-version: '8.4', composer: 'composer', coverage-driver: 'pcov', e2e-runner: 'bin/infection' }

    name: E2E tests on ${{ matrix.operating-system }} with PHP ${{ matrix.php-version }} (${{ matrix.composer }}; ${{ matrix.dependencies }}), using ${{ matrix.coverage-driver }} with ${{ matrix.e2e-runner }}

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: ${{ matrix.php-version }}
          coverage: ${{ matrix.coverage-driver }}
          ini-values: memory_limit=512M, xdebug.mode=off
          tools: ${{ matrix.composer }}
        env:
          # This is necessary when installing a tool with a specific version
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Remove the configured PHP platform
        if: matrix.dependencies != 'locked'
        run: composer config --unset platform.php

      - name: Configure for PHP >= 8.4
        if: "matrix.php-version >= '8.4'"
        run: |
          composer config platform.php 8.4.99

      - name: Get composer cache directory
        id: composer-cache
        shell: bash
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: composer-${{ runner.os }}-${{ matrix.php-version }}-${{ matrix.dependencies }}-${{ hashFiles('tests/e2e/*/composer.*') }}
          restore-keys: |
            composer-${{ runner.os }}-${{ matrix.php-version }}-${{ matrix.dependencies }}-
            composer-${{ runner.os }}-${{ matrix.php-version }}-
            composer-${{ runner.os }}-
            composer-

      - name: Install dependencies
        if: ${{ matrix.dependencies == 'locked' }}
        run: composer install --no-interaction --prefer-dist --no-progress

      - name: Install highest dependencies
        if: ${{ matrix.dependencies == 'highest' }}
        run: composer update --no-interaction --prefer-dist --no-progress

      - name: Install lowest dependencies
        if: ${{ matrix.dependencies == 'lowest' }}
        run: composer update --no-interaction --prefer-dist --no-progress --prefer-lowest

      - name: Try to install paratest for parallel test execution
        run: composer require --dev brianium/paratest:^7.8.4 --with-all-dependencies --minimal-changes --no-interaction --no-progress || true

      - name: Cache E2E tests dependencies
        if: runner.os == 'Windows'
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: tests/e2e/*/vendor
          key: e2e-vendor-${{ runner.os }}-${{ matrix.php-version }}-${{ hashFiles('tests/e2e/*/composer.json') }}
          restore-keys: |
            e2e-vendor-${{ runner.os }}-${{ matrix.php-version }}-${{ hashFiles('tests/e2e/*/composer.json') }}-
            e2e-vendor-${{ runner.os }}-${{ matrix.php-version }}-
            e2e-vendor-${{ runner.os }}-
            composer-

      - name: Install Composer dependencies for E2E tests
        shell: bash
        run: |
          ls tests/e2e/*/composer.json | xargs dirname |
             xargs -I{} -P 4 composer --working-dir={} install --no-interaction --prefer-dist --no-progress || true

      - name: Run a subset of E2E tests
        if: runner.os == 'Windows'
        shell: bash
        run: |
          make test-e2e-phpunit PHP='phpdbg -qrr' E2E_PHPUNIT_GROUP=e2e BENCHMARK_SOURCES=

      - name: Install Linux dependencies for E2E tests
        if: runner.os != 'Windows'
        run: |
          sudo apt-get install -y --no-install-recommends expect

      - name: Run the whole set of E2E tests
        if: runner.os != 'Windows' && matrix.e2e-runner == 'bin/infection'
        env:
          TERM: xterm-256color
        run: make test-e2e E2E_PHPUNIT_GROUP=e2e INFECTION=bin/infection

      - name: Run the whole set of E2E tests with prefixed PHAR
        if: runner.os != 'Windows' && matrix.e2e-runner == 'dist/infection.phar' && matrix.php-version == '8.2'
        env:
          TERM: xterm-256color
        run: |
          make compile
          # test PHAR works from subfolder
          cd dist && ./infection.phar -V && cd ..
          make test-e2e E2E_PHPUNIT_GROUP=e2e INFECTION=dist/infection.phar BENCHMARK_SOURCES=

  # This is a meta job to avoid to have to constantly change the protection rules
  # whenever we touch the matrix.
  tests-status:
      name: E2E Tests Status
      runs-on: ubuntu-latest
      timeout-minutes: 30
      needs: tests
      if: always()
      steps:
          - name: Successful run
            if: ${{ !(contains(needs.*.result, 'failure')) }}
            run: exit 0

          - name: Failing run
            if: ${{ contains(needs.*.result, 'failure') }}
            run: exit 1
