# yamllint disable rule:line-length
# yamllint disable rule:braces

name: Annotations

on:
    pull_request:

jobs:
    tests:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                php-version: ['8.0']

        name: Mutation Testing Code Review Annotations ${{ matrix.php-version }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php-version }}
                  tools: composer:v2.1
                  coverage: pcov

            - name: Get composer cache directory
              id: composer-cache
              run: echo "::set-output name=dir::$(composer config cache-files-dir)"

            - name: Cache dependencies
              uses: actions/cache@v2
              with:
                  path: ${{ steps.composer-cache.outputs.dir }}
                  key: composer-${{ runner.os }}-${{ matrix.php-version }}-${{ hashFiles('composer.*') }}
                  restore-keys: |
                      composer-${{ runner.os }}-${{ matrix.php-version }}-
                      composer-${{ runner.os }}-
                      composer-

            - name: Install dependencies
              run: |
                  composer update --no-interaction --prefer-dist --no-progress

            - name: Run Infection for added files only
              run: |
                  git fetch origin $GITHUB_BASE_REF
                  php bin/infection -j2 --git-diff-lines --git-diff-base=origin/$GITHUB_BASE_REF --ignore-msi-with-no-mutations --only-covered
