# yamllint disable rule:line-length
# yamllint disable rule:braces

name: Annotations

on:
    pull_request:

concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
    cancel-in-progress: true

jobs:
    tests:
        runs-on: ubuntu-latest
        timeout-minutes: 30

        strategy:
            matrix:
                php-version: ['8.2']

        name: Mutation Testing Code Review Annotations ${{ matrix.php-version }}

        steps:
            - name: Checkout code
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  fetch-depth: 0
            - name: Setup PHP
              uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
              with:
                  php-version: ${{ matrix.php-version }}
                  tools: composer:v2.1
                  coverage: pcov
              env:
                # This is necessary when installing a tool with a specific version
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Get composer cache directory
              id: composer-cache
              run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

            - name: Cache dependencies
              uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
              with:
                  path: ${{ steps.composer-cache.outputs.dir }}
                  key: composer-${{ runner.os }}-${{ matrix.php-version }}-${{ hashFiles('composer.*') }}
                  restore-keys: |
                      composer-${{ runner.os }}-${{ matrix.php-version }}-
                      composer-${{ runner.os }}-
                      composer-

            - name: Install dependencies
              run: |
                  composer install --no-interaction --prefer-dist --no-progress

            - name: Run Infection for changed lines only
              run: |
                  git fetch origin $GITHUB_BASE_REF
                  php bin/infection \
                    --git-diff-lines \
                    --git-diff-base=origin/$GITHUB_BASE_REF \
                    --ignore-msi-with-no-mutations \
                    --max-timeouts=0 \
                    --min-msi=100 \
                    --min-covered-msi=100

    # This is a meta job to avoid to have to constantly change the protection rules
    # whenever we touch the matrix.
    tests-status:
        name: Annotations Status
        runs-on: ubuntu-latest
        timeout-minutes: 30
        needs: tests
        if: always()
        steps:
            - name: Successful run
              if: ${{ !(contains(needs.*.result, 'failure')) }}
              run: exit 0

            - name: Failing run
              if: ${{ contains(needs.*.result, 'failure') }}
              run: exit 1
