# yamllint disable rule:line-length
# yamllint disable rule:braces

name: Mutation Testing

on:
  pull_request:
  push:
    branches:
      - main
      - master

env:
  MIN_MSI: 70.17
  MIN_COVERED_MSI: 86.48

jobs:
  tests:
    runs-on: ${{ matrix.operating-system }}

    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        php-version: ['8.0']
        coverage-driver: [pcov]

    name: Mutation testing on ${{ matrix.operating-system }} with PHP ${{ matrix.php-version }}, using ${{ matrix.coverage-driver }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: ${{ matrix.coverage-driver }}
          tools: composer:v2.1
        env:
          # This is necessary when installing a tool with a specific version
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get composer cache directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: composer-${{ runner.os }}-${{ matrix.php-version }}-${{ hashFiles('composer.*') }}
          restore-keys: |
            composer-${{ runner.os }}-${{ matrix.php-version }}-
            composer-${{ runner.os }}-
            composer-

      - name: Install dependencies
        run: |
          composer install --no-interaction --prefer-dist --no-progress

      - name: Collect coverage report
        run: |
          php vendor/phpunit/phpunit/phpunit --stop-on-failure \
            --coverage-xml=build/logs/coverage-xml \
            --log-junit=build/logs/junit.xml

      - name: Run Infection
        env:
          INFECTION_BADGE_API_KEY: ${{ secrets.INFECTION_BADGE_API_KEY }}
        run: |
          php bin/infection --threads=max \
            --skip-initial-tests \
            --min-msi=$MIN_MSI \
            --min-covered-msi=$MIN_COVERED_MSI \
            --coverage=build/logs \
            --log-verbosity=none \
            --no-interaction \
            --no-progress
