# yamllint disable rule:line-length
# yamllint disable rule:braces

# This build is to test the whole execute the PHPUnit tests & collect the coverage
# report and run infection.
# We are not interested in:
# - Running it on different systems (e.g. Windows, which was disabled because too slow)
# - Min/maxing the PHP version used: it can be any supported version
# - Using different dependencies than the locked ones
# - Using different code coverages
# All of those variants may be interesting but are better tested in more scoped
# tests like in ci.yaml.
name: Mutation Testing

on:
  push:
    branches:
      - main
      - master
  pull_request:
    paths:
      - '.github/workflows/mt.yaml'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  PHP_VERSION: '8.2'
  MIN_MSI: 77.0
  MIN_COVERED_MSI: 86.00

jobs:
  mutation-testing:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    name: Infection complete run on Infection

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup PHP for coverage
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          # Any supported PHP version is fine
          php-version: ${{ env.PHP_VERSION }}
          coverage: pcov
          tools: composer
        env:
          # This is necessary when installing a tool with a specific version
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: composer-${{ runner.os }}-${{ env.PHP_VERSION }}-${{ hashFiles('composer.*') }}
          restore-keys: |
            composer-${{ runner.os }}-${{ env.PHP_VERSION }}-
            composer-${{ runner.os }}-
            composer-

      - name: Install dependencies
        # Run the locked dependencies: we are not interested in testing different
        # variations here so having a stable set is better.
        run: composer install --no-interaction --prefer-dist --no-progress

      - name: Collect coverage report
        run: |
          php vendor/phpunit/phpunit/phpunit --stop-on-failure \
            --coverage-xml=var/coverage/coverage-xml \
            --log-junit=var/coverage/junit.xml

      - name: Setup PHP for mutation testing
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: ${{ env.PHP_VERSION }}
          coverage: none
          ini-values: opcache.enable_cli=1, opcache.file_cache=/tmp/opcache, opcache.file_cache_only=1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create opcache directory
        run: mkdir -p /tmp/opcache

      - name: Run Infection on the full codebase
        env:
          INFECTION_BADGE_API_KEY: ${{ secrets.INFECTION_BADGE_API_KEY }}
        run: |
          php bin/infection \
            --skip-initial-tests \
            --min-msi=$MIN_MSI \
            --min-covered-msi=$MIN_COVERED_MSI \
            --coverage=var/coverage \
            --log-verbosity=none \
            --no-interaction \
            --no-progress

  # This is a meta job to avoid to have to constantly change the protection rules
  # whenever we touch the matrix.
  tests-status:
      name: Mutation Testing Status
      runs-on: ubuntu-latest
      timeout-minutes: 30
      needs: mutation-testing
      if: always()
      steps:
          - name: Successful run
            if: ${{ !(contains(needs.*.result, 'failure')) }}
            run: exit 0

          - name: Failing run
            if: ${{ contains(needs.*.result, 'failure') }}
            run: exit 1
