name: Release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    name: Upload PHAR and signature
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      -
        name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      -
        name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: 8.2
          coverage: none
          ini-values: memory_limit=512M, opcache.enable_cli=1, opcache.jit=tracing, opcache.jit_buffer_size=100M
          tools: 'composer'
        env:
          # This is necessary when installing a tool with a specific version
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      -
        name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}

      -
        name: Install dependencies
        run: composer install --no-interaction --prefer-dist --no-progress

      -
        name: Build PHAR
        run: make compile

      -
        name: Sign the PHAR
        run: |
          gpg --local-user maks.rafalko@gmail.com \
              --yes \
              --passphrase="${{ secrets.GPG_PASSPHRASE }}" \
              --detach-sign \
              --output dist/infection.phar.asc \
              dist/infection.phar

      - name: Upload PHAR to release
        uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741 # latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/infection.phar*
          file_glob: true
          tag: ${{ github.ref }}
