name: Release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    name: Upload PHAR and signature
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4

      -
        name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          ini-values: memory_limit=512M, xdebug.mode=off
          tools: 'composer'
        env:
          # This is necessary when installing a tool with a specific version
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      -
        name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}

      -
        name: Install dependencies
        run: composer install --no-interaction --prefer-dist --no-progress

      -
        name: Build PHAR
        run: make compile

      -
        name: Sign the PHAR
        run: |
          gpg --local-user maks.rafalko@gmail.com \
              --yes \
              --passphrase="${{ secrets.GPG_PASSPHRASE }}" \
              --detach-sign \
              --output var/infection.phar.asc \
              var/infection.phar

      - name: Upload PHAR to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: var/infection.phar*
          file_glob: true
          tag: ${{ github.ref }}
