name: 'Require tests if source code is changed'

on:
  pull_request_target:
    types: [opened]

jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: infection/tests-checker-action@d7c206b02342e492c91440a1234f8317ee316d8a # v1.0.3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
