name: Tests

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-version: ['7.3', '7.4']
        dependencies: ['']
        include:
          - { php-version: '7.3', dependencies: '--prefer-lowest' }
          - { php-version: '8.0', dependencies: '--ignore-platform-req=php' }

    continue-on-error: ${{ matrix.php-version == '8.0' }}
    name: PHP ${{ matrix.php-version }} ${{ matrix.dependencies }}

    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: 
          coverage: pcov
          tools: composer:v2

      - name: Install dependencies
        run: |
          composer config prefer-stable true
          composer config minimum-stability dev
          composer update --no-interaction ${{ matrix.dependencies }}

      - name: Run tests
        run: make test-unit

      - name: Run Infection
        run: |
          ./bin/infection -j$(nproc) --test-framework-options="--group=default"
          
