# yamllint disable rule:line-length
# yamllint disable rule:braces

name: Unit & Integration Tests

on:
  pull_request:
  push:
    branches:
      - main
      - master

jobs:
  tests:
    runs-on: ${{ matrix.operating-system }}

    strategy:
      matrix:
        operating-system: [ ubuntu-latest ]
        php-version: [ '8.0', '8.1', '8.2' ]
        coverage-driver: [ pcov, xdebug ]
        include:
          - { operating-system: 'windows-latest', php-version: '8.0', coverage-driver: 'xdebug' }

    name: CI on ${{ matrix.operating-system }} with PHP ${{ matrix.php-version }}, using ${{ matrix.coverage-driver }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure for PHP >= 8.2
        if: "matrix.php-version >= '8.2'"
        run: |
          composer config platform.php 8.1.99

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: ${{ matrix.coverage-driver }}
          ini-values: memory_limit=512M, xdebug.mode=off
          tools: composer

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: composer-${{ runner.os }}-${{ matrix.php-version }}-${{ hashFiles('composer.*') }}
          restore-keys: |
            composer-${{ runner.os }}-${{ matrix.php-version }}-${{ hashFiles('composer.*') }}-
            composer-${{ runner.os }}-${{ matrix.php-version }}-
            composer-${{ runner.os }}-
            composer-

      - name: Install dependencies
        run: |
          composer install --no-interaction --prefer-dist --no-progress

      - name: Configure the Symfony deprecations helper
        if: ${{ matrix.php-version }} == '8.2'
        run: echo "{SYMFONY_DEPRECATIONS_HELPER}={max[self]=0}" >> $GITHUB_ENV

      - name: Run unit tests
        shell: bash
        run: make test-unit

      - name: Run integration tests
        if: ${{ matrix.operating-system != 'windows-latest' }}
        shell: bash
        run: make test-unit PHPUNIT_GROUP=integration

  # This is a meta job to avoid to have to constantly change the protection rules
  # whenever we touch the matrix.
  tests-status:
    name: Unit & Integration Tests Status
    runs-on: ubuntu-latest
    needs: tests
    if: always()
    steps:
      - name: Successful run
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0

      - name: Failing run
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
